/* All */
.btn-primary, .bg-primary {
    background-color: #095D8C !important;
    color: #fff;
}

.text-primary {
    color: #095D8C !important;
}

/* Sidebar */

#sidenav-main {
    z-index: 10;
    background-color: #C5E1EC;
}

#sidenav-main .nav-item .nav-link {
    color: #333;
}

#sidenav-main .nav-item .nav-link.active {
    background: none !important;
    box-shadow: none;
    color: #095D8C;
}

#sidenav-main .nav-item .nav-link .icon i {
    font-size: 1.3em;
    color: #333;
    top: 0;
}

#sidenav-main .nav-item .nav-link.active .icon i {
    color: #095D8C;
}

.admin-container .btn-create,
.admin-container .btn-submit {
    background-color: #095D8C;
    color: white;
}

.admin-container .btn-edit,
.admin-container .btn-delete {
    color: #444;
    transition: all .3s ease;
}

.admin-container .btn-edit:hover {
    color: #ea580c;
}

.admin-container .btn-delete:hover {
    color: #dc2626;
}

/* Pagination */
.pagination .page-item .page-link {
    color: #4640DE;
}

.pagination .page-item.active .page-link {
    color: #fff;
    border: none;
    background-color: #4640DE;
}

/* Switch Toggle */
.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
.switch-input:checked + .switch {
    background: #72da67;
}
.switch-input:checked + .switch::before {
    left: 27px;
    background: #fff;
}
.switch-input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

/* Drag and drop upload file */
.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}
.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}
.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}
.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}
.preview-zone {
    text-align: center;
}
.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}


/* Multiple file upload */
.button.hollow {
    cursor: pointer;
    background-color: #72da67;
    padding: 10px 20px;
    color: #fff;
    transition: all .3s ease;
}

.button.hollow:hover {
    background-color: #52bc46;
}

.quote-imgs-thumbs {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    padding: 0.75rem;
}

.quote-imgs-thumbs #preview_title_text {
    font-weight: 500;
    margin-top: 10px;
}

.quote-imgs-thumbs--hidden {
    display: none;
}

.img-preview-thumb {
    background: #fff;
    border: 1px solid #777;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
    margin-right: 1rem;
    max-width: 140px;
    padding: 0.25rem;
    transition: all .3s ease;
}

.img-preview-thumb:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Dashboard Page */
#dashboard-page .content-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#dashboard-page .statistics-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    padding: 10px 20px;
    border: 2px solid rgba(9, 93, 140, .2);
    border-left: 4px solid #095D8C;
}

#dashboard-page .statistics-value {
    font-size: 1.6rem;
    margin-top: -5px;
    font-weight: 600;
}

#dashboard-page .log-activity {
    position: relative;
}

#dashboard-page .log-activity::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    left: 10px;
    display: inline-block;
}

#dashboard-page .log-activity .item i {
    position: relative;
    left: -33px;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 10px;
}

#dashboard-page .log-activity .item i.fa-plus {
    background-color: #16a34a;
}

#dashboard-page .log-activity .item i.fa-pencil {
    background-color: #f97316;
}

#dashboard-page .log-activity .item i.fa-trash {
    background-color: #ef4444;
}

#dashboard-page .log-activity .item span {
    font-weight: 700;
}

/* Notification page */
#notification-page #detailOrderModal .left-panel {
    border-right: 3px solid rgba(8, 12, 21, 0.2);
}

#notification-page .items-summary {
    border-bottom: 1px dotted rgba(0, 0, 0, .3);
}

/* Book Pages */
#book-container .card-img-wrapper {
    max-height: 250px;
    overflow: hidden;
}

#book-container .edit_sub_images_book .item {
    position: relative;
    margin-right: 10px;
    transition: .3s ease;
}

#book-container .edit_sub_images_book .item .fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    cursor: pointer;
    transition: .3s ease;
}

#book-container .edit_sub_images_book .item:hover .fa-xmark {
    display: block;
}

/* Detail order page */
#detail-order-page .order-processed {
    background-color: rgba(249, 115, 22, 0.1);
    color: #f97316;
}

#detail-order-page .order-completed  {
    background-color: rgba(22, 163, 74, 0.1);
    color: #16a34a;
}

#detail-order-page .order-cancelled {
    background-color: rgba(220, 38, 38, 0.1);
    color: #dc2626;
}