:root {
    --main-color: #095D8C;
    --dark-main-color: #001B48;
    --light-main-color: #C5E1EC;
    --white-to-black: #FFF;
    --yellow: #f59e0b;
    --dark-to-light: #fff;
}

body {
    overflow-x: hidden;
}
a {
    font-size: 0.9rem;
}
p {
    margin-bottom: 5px;
}

.container.my-container {
    padding-top: 100px;
}

footer {
    margin-top: 180px;
    background-color: var(--light-main-color) !important;
}

footer .copyright-group {
    background-color: var(--dark-main-color) !important;
    color: #fff;
}

.pagination .page-item.active .page-link {
    color: white;
}

.order-nav.active {
    color: #774dd3;
}

.btn-primary, .bg-primary {
    background-color: var(--main-color) !important;
    color: #fff;
    border: none;
}

.text-bg-primary {
    background-color: var(--main-color) !important;
}

.btn-outline-primary {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.btn-outline-primary:hover {
    background-color: var(--main-color);
    color: #fff;
}

.btn-outline-primary:focus {
    background-color: var(--main-color);
}

.text-primary {
    color: var(--main-color) !important;
}

.page-item.active .page-link {
    background-color: var(--main-color) !important;
}

.nav-tabs .nav-link {
    color: var(--dark-main-color);
}

.nav-tabs .nav-link.active {
    color: var(--main-color);
    font-weight: 500;
}

/* Login  */
.bg-login {
    background-color: var(--light-main-color);
    margin-top: 50px;
    padding-top: 100px;
}
.bg-login label {
    font-size: 1.3em;
    color: var(--dark-main-color);
}

/* Register */
.bg-register .card {
    margin-top: 50px;
}

.bg-register .card-header {
    background-color: var(--light-main-color);
}

/* Navbar */
.navbar {
    z-index: 99;
    background-color: var(--light-main-color) !important;
}

.navbar .nav-link.active {
    color: var(--main-color) !important;
}

#navbar .cart-group i,
#navbar .profile-group .nav-link i {
    transition: all .2s;
}

#navbar .cart-group:hover i,
#navbar .profile-group .nav-link:hover i {
    opacity: 0.7;
}

#navbar .cart-group .count-text {
    position: absolute;
    background-color: #dc2626;
    color: white;
    width: 1.4rem;
    height: 1.4rem;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.8rem;
}

#navbar .nav-link.active {
    color: white;
}

#navbar .navbar-toggler {
    color: var(--dark-main-color);
}

/* Home */
section {
    margin-top: 100px;
}

.swiper {
    width: 100%;    
}

.swiper.header-swiper {
    height: 600px;
}

.swiper.latest-books-swiper {
    height: auto;
}

.swiper .swiper-button-prev {
    left: 0;
}

.swiper .swiper-button-next {
    right: 0;
}

/* All Books */
#all-books-page .filter-price {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

#all-books-page .filter-price p {
    position: relative;
    left: 5px;
}

#all-books-page .filter-price input {
    border: none;
    outline: none;
}

#all-books-page .category-text {
    margin-bottom: 0;
}

/* Detail book */
#book-page .detail-book .data {
    margin-top: -10px;
    font-size: 0.9em;
    opacity: 0.9;
}

#book-page .input-qty,
#cart-page .input-qty {
    border: none;
    outline: none;
    margin-top: 7px;    
    width: 50px;
    text-align: center;
    height: 30px;
}

#book-page .subimage-book {
    cursor: pointer;
    transition: 0.2s;
}

#book-page .subimage-book:hover {
    opacity: 0.7;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slideshow {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  transition: all .3s;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: all .3s;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  transition: all .3s;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Cart */
#cart-page .related-books {
    background-color: var(--light-main-color);
    margin-top: 100px;
}

/* Checkout */
#checkout-page .detail-cost .d-flex {
    margin-bottom: -10px;
}

#checkout-page .btn-checkout {
    width: 100%;
}

/* Order page */
.order-processing {
    background-color: rgba(249, 115, 22, 0.1);
    color: #f97316;
}

.order-completed  {
    background-color: rgba(22, 163, 74, 0.1);
    color: #16a34a;
}

.order-cancelled {
    background-color: rgba(220, 38, 38, 0.1);
    color: #dc2626;
}
.order-nav:hover {
    color: var(--main-color) ;
}

.order-nav.active {
    color: var(--main-color);
}

/* Order detail rating style */
.outer{
    display: grid;
    place-items: center;
    min-height: inherit;
  }
  .ratings-box{
    display: flex;
    gap: 20px;
  }
  .ratings-box__item label{
    position: relative;
    cursor: pointer;
    display: block;
  }
  .ratings-box__item label input{
    display: none;
    position: absolute;
  }
  .ratings-box{
    position: relative;
  }
  .ratings-box__item p{
    display: inline-block;
    position: absolute;
    color: var(--dark-main-color);
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    margin-top: 10px;    
  }
  .ratings-box__item label span.rating-star{
    width: 30px;
    height: 30px;
    display: block;
    background: var(--yellow);
    position: relative;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  
  /* // selector when using :has selector starts */
  .ratings-box__item label span.rating-star::after{
     content: '';
     position: absolute;
     width: 20px;
    height: 20px;
    background: var(--dark-to-light);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  .ratings-box:has(.ratings-box__item label input:checked) .ratings-box__item span.rating-star::after{
    transform: translate(-50%, -50%) scale(0);
  }
  .ratings-box__item:has(label > input:checked) ~ .ratings-box__item label .star-line-box span.rating-star::after{
    transform: translate(-50%, -50%) scale(1);
  }
  .ratings-box__item:has(label > input:checked) p{
    opacity: 1;
  }
  
  .rating-star-line{
    position: absolute;
    width: 2px;
    height: 10px;
    background: var(--yellow);
    display: block;
    opacity: 0;
  }
  .ratings-box__item input:checked ~ .star-line-box{
    animation: scaleAnim 0.4s linear;
    transform-origin: center;
  }
  @keyframes scaleAnim{
    0%,100%{
      transform: scale(1);
    }
    50%{
      transform: scale(0);
    }
  }
  .rating-star-line:nth-of-type(3),
  .rating-star-line:nth-of-type(2){
    transform: rotate(45deg);
    right: 8px;
    bottom: 22px;
    transform-origin: bottom;
  }
  .rating-star-line:nth-of-type(3){
    transform: rotate(-45deg);
    left: 7px;
  }
  .rating-star-line:nth-of-type(4){
    transform: rotate(0deg);
    left: calc(50% - 1px);
    bottom: unset;
    top: 24px;
  }
  .ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(2){
    animation: topLinesAnim 0.4s 0.3s linear;
  }
  .ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(3){
    animation: topLinesAnim2 0.4s 0.3s linear;
  }
  .ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(4){
    animation: bottomLineAnim 0.4s 0.3s linear;
  }
  @keyframes topLinesAnim{
    from{
      transform: rotate(45deg);
      opacity: 1;
    }
    to{
      transform: rotate(45deg) scaleY(1.2) translateY(-5px);
      opacity: 0;
    }
  }
  @keyframes topLinesAnim2{
    from{
      transform: rotate(-45deg);
      opacity: 1;
    }
    to{
      transform: rotate(-45deg) scaleY(1.2) translateY(-5px);
      opacity: 0;
    }
  }
  @keyframes bottomLineAnim{
    from{
      transform: rotate(0);
      opacity: 1;
    }
    to{
      transform: rotate(0) scaleY(1.2) translateY(5px);
      opacity: 0;
    }
  }